<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- See avahi.service(5) for more information about this configuration file -->
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_sftp-ssh._tcp</type>
    <port>512</port>
  </service>
<!-- So that Mac OS X displays nice icons, choose the parameter model according to
/System/Library/CoreServices/CoreTypes.bundle/Contents/Info.plist in OS X (see Equivalent types
/com.apple.device-model-code Array for a specific model and browse Resources for icon files) -->
  <service>
    <type>_device-info._tcp</type>
    <port>0</port>
    <txt-record>model=iMac</txt-record>
  </service>
</service-group>
